#app
    header
        .log
            p Movement:
            h1 off
    main
        .lightsaber
            img.img-lightsaber(src="./img/lightsaber.png")
        .cachesounds
            audio(preload="auto").audio#on
                source(src="./audio/on.mp3" type="audio/mpeg")
            audio(preload="auto").audio#off
                source(src="./audio/off.mp3" type="audio/mpeg")

