#app
    header
        .log
            p Movimento:
            h1 
    main
        .lightsaber
            img.img-lightsaber(src="./img/lightsaber.png")
        .cachesounds
            audio(preload="auto").audio#player
                source(src="" type="audio/mpeg")
            audio(preload="auto").audio#on
                source(src="./audio/on.mp3" type="audio/mpeg")
            audio(preload="auto").audio#off
                source(src="./audio/off.mp3" type="audio/mpeg")
            audio(preload="auto").audio#right
                source(src="./audio/right.mp3" type="audio/mpeg")
            audio(preload="auto").audio#left
                source(src="./audio/left.mp3" type="audio/mpeg")


