
#app{
  /*
  +-------------------------------+
   HEADER
  +-------------------------------+
  */
	header{} 

  /*
  +-------------------------------+
   MAIN
  +-------------------------------+
  */
  main{

    .lightsaber{
      width: 50px;
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: - 25px;
      cursor: pointer;
      img{
        width: 100%;
      }
    }

  }

}







