if prod
	link(href=url+'css/main.css', rel='stylesheet', type='text/css')
else
	link(href='./css/main.css', rel='stylesheet', type='text/css')
	link(href='./fonts/oglobo/fonts.css', rel='stylesheet', type='text/css')